.SlideDrawer {
  position:fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index:  200;
  left: 0;
  top: 0;
  padding: 32px 16px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: white;

}

@media (min-width: 500px) {
  .SlideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
