
.Logo {
  background-color: white;
  height: 70%;
  padding: 5px;
  transition: 1s;
  border-radius: 10%;
}

.outlayer
{

  background-color: transparent;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.Logo:hover {
  transform: scale(1.3);
}

.Logo img {
  height: 100%;
}

@media (max-width: 499px)  {
    .outlayer {
      margin-bottom: 20px;

    }
}
